.apparel-hero {
    background-image: url("/images/covalence-store-apparel-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25em;
}

.misc-hero {
    background-image: url("/images/covalence-store-misc-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25em;
}

.nav-color {
    background-color: rgba(34, 43, 46, 0.85);
}

