body {
    padding: 0;
    margin: 0;
}

.apparel-hero {
    /* The image used */
    background-image: url("/images/covalence-store-apparel-hero.jpg");
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25em;
}

.misc-hero {
    /* The image used */
    background-image: url("/images/covalence-store-misc-hero.jpg");
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 25em;
}

.testing {
    background-color: rgba(34, 43, 46, 0.85);
}

