<main-navigation></main-navigation>
<div class="container-fluid">
        <img src="/images/covalence-store-apparel-hero.jpg" class="img-fluid" alt="">
</div>

<div class="container products-container">
    <div class="row">
            <div class="col-sm-4 product" ng-repeat="product in products">
                    <a ng-href="/{{ product.id }}">   
                        <img ng-src="{{ product.imageurl }}" class="photo" alt="">
                    </a>
                <div class="row">
                    <div class="col-9" id="product-title">{{ product.title }}</div>
                    <div class="col-3">
                        <span class="float-right" id="product-price">{{ product.price | currency:USD$:0 }}</span>
                    </div>
                </div>
            </div>
    </div>
</div>


<footer-nav></footer-nav>