<main-navigation></main-navigation>
<style>
        body {
            padding-top: 8em; 
        }          
        </style>
<div class="container product-container">
    <div class="row">
        <div class="col-sm-7" id="single-item-image-box">
            <img ng-src="{{ product.imageurl }}" class="product-image">
        </div>
        <div class="col-sm-5" id="single-item-text-box">
                        <h1 id="product-price">${{ product.price }}</h1>
                    <h1 id="product-title">{{ product.title }}</h1>
                    <p>{{ product.description }}</p>
                    <button class="btn btn-info product-cart">ADD TO CART</button>
            </div>
        </div>
    </div>
    <footer-nav class="fixed-bottom"></footer-nav>
